.Search {
  //padding: 10px;
  text-align: center;


  .searchContainer{
    width: 100%;
    display: flex;
    justify-content: center;

    .Input {
      width: 40%;
      padding: 10px;
    }

    .SortByDropdown{
      text-align: left;
      display: block;
      padding: 10px;
      .dropdown{
        //padding-left: 10px;
        //width:120px;
        //height: 30px;
      }
      width: 30%;
    }
  }

  .SortInCheckBox {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;

    .checkBoxField {
      width: 15%;
    }
  }
}

